<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameZoneST - Hardware</title>
  <link rel="stylesheet" href="../css/hardware.css">
</head>
<body>

  <header class="navbar">
    <div class="logo">GameZoneST</div>
    <nav>
      <ul>
        <li><a href="../index.html">Início</a></li>
        <li><a href="../view/perifericos.html">Perifericos</a></li>
        <li><a href="../view/hardware.html">Hardware</a></li>
        
      </ul>
    </nav>
  </header>

  <main>
    <h1 class="titulo">Hardware</h1>
    <section class="grid-produtos">
      
      <!-- Produto 1 -->
      <div class="produto">
        <img src="../img/placadevideo3.jpg" alt="Placa de Vídeo RTX 3080">
        <h2>Placa de Vídeo RTX 3080</h2>
        <p class="preco">R$ 3200,00</p>
        <a href="../view/placadevideo.html" class="btn">Ver Produto</a>
      </div>

      <!-- Produto 2 -->
      <div class="produto">
        <img src="../img/b55.jpg" alt="Placa-mãe B550m Plus Gaming">


        <h2>Placa Mãe B550m Plus Gaming</h2>
        <p class="preco">R$ 1200,90</p>

        <a href="../view/placamae.html" class="btn">Ver Produto</a>
      </div>

      <!-- Produto 3 -->
      <div class="produto">
        <img src="../img/headset1.jpg" alt="Headset Surround ABC">
        <h2>Headset Arctis Nova Pro</h2>
        <p class="preco">R$ 499,90</p>
        <a href="../view/headset.html" class="btn">Ver Produto</a>
      </div>

      <!-- Produto 4 -->
      <div class="produto">
        <img src="../img/mousepad1.webp" alt="Mousepad RGB Ultra">
        <h2>Mouse Pad QcK Prism Cloth 5XL</h2>
        <p class="preco">R$ 199,90</p>
        <a href="../view/mousepad.html" class="btn">Ver Produto</a>
      </div>

    </section>
  </main>

</body>
</html>
