<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameZoneST - Periféricos</title>
  <link rel="stylesheet" href="../css/perifericos.css">
</head>
<body>

  <header class="navbar">
    <div class="logo">GameZoneST</div>
    <nav>
      <ul>
        <li><a href="../index.html">Início</a></li>
        <li><a href="../view/perifericos.html">Perifericos</a></li>
        <li><a href="../view/hardware.html">Hardware</a></li>
        
      </ul>
    </nav>
  </header>

  <main>
    <h1 class="titulo">Periféricos</h1>
    <section class="grid-produtos">
      
      <!-- Produto 1 -->
      <div class="produto">
        <img src="../img/apex1.png" alt="Teclado Apex Pro TKL">
        <h2>Apex Pro TKL</h2>
        <p class="preco">R$ 899,90</p>
        <a href="../view/tecladoapex.html" class="btn">Ver Produto</a>
      </div>

      <!-- Produto 2 -->
      <div class="produto">
        <img src="../img/mouse_arox.webp" alt="Mouse Gamer XYZ">


        <h2>Mouse Gamer Aerox 9</h2>
        <p class="preco">R$ 299,90</p>

        <a href="../view/mouseaerox9.html" class="btn">Ver Produto</a>
      </div>

      <!-- Produto 3 -->
      <div class="produto">
        <img src="../img/headset1.jpg" alt="Headset Surround ABC">
        <h2>Headset Arctis Nova Pro</h2>
        <p class="preco">R$ 499,90</p>
        <a href="../view/headset.html" class="btn">Ver Produto</a>
      </div>

      <!-- Produto 4 -->
      <div class="produto">
        <img src="../img/mousepad1.webp" alt="Mousepad RGB Ultra">
        <h2>Mouse Pad QcK Prism Cloth 5XL</h2>
        <p class="preco">R$ 199,90</p>
        <a href="../view/mousepad.html" class="btn">Ver Produto</a>
      </div>

    </section>
  </main>

</body>
</html>
